* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

#frame {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#form {
    background-color: white;
    width: 80%;
    height: 100%;
    margin: 50px;
    border: 3px solid white;
    border-radius: 10px;
}

/*top section*/
#top {
    text-align: center;
    padding: 20px;
}

h1 {
    size: 2em;
    font-weight: bold;
}

option {
    size: 1.17em;
}

button {
    border: 1px white solid;
    border-radius: 3px;
}

.top-buttons {
    background-color: #007bff;
    color: white;
    width: 10%;
    min-width: 50px;
}

.top-buttons:hover{
    background-color: #0056b3;
}

#teammate-name {
    padding: 1%;
}
#teammate-name input[type="text"]{
    width: 80%;
    height: 10%;
}

#task select{
    width: 20%;
}

#task input[type="text"]{
    width: 30%;
}

#task input[type="date"]{
    width: 26%;
}

hr {
    width: 87%;
    color: #f4f4f4;
}

/*main content section*/
#main-content{
    text-align: center;
}

h2 {
    size: 1.17em;
}

text {
    size: 1.17em;
}

.task-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: #f4f4f4;
    box-shadow: 10px;
    border-radius: 5px;
    width: 87%;
    margin: 0.5%;
    padding: 1%;
}

/*bottom section*/
#bottom{
    padding: 3%;
}

#clear-button{
    color: white;
    background-color: #64d05e;
}

#clear-button:hover {
  background-color: #4ea649;
}

#reset-button{
    color: white;
    background-color: #c3c3c3;
}

#reset-button:hover {
    background-color: #8f8f8f;
}