body{
    background-color: aqua;
}
#wrapper{
    display: flex;
    width: 750px;
    height: 870px;
    background: white;
    margin: 150px auto;
    justify-content: center;
    align-items: center;
}

#card{
    background-color: white;
    width: 600px;
    height: 720px;
    border: 5px solid black;
    padding: 35px;
    margin: 50px auto;
    font-family: Roboto;
}

/* header section */
#card-header{
    width: 560px;
    height: 120px;
    padding: 15px;
    border: 5px solid black;
    margin: auto;
    background-color: yellow;
    font-weight: bold;
    text-align: center;
}

.title1{
    font-size: 45px;
}

.title2{
    font-size: 50px;
}

/* content section */
#card-content{
    text-align: center;
    font-size: 42px;
}

/* bottom section */
#bottom-section{
    text-align: center;
    font-size: 25px;
}